@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    width: 70%;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.section-sub-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
}

.section-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: white;
}

.section-button {
    width: fit-content;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #4d6eaa;
    display: block;
}

.header {
    text-align: center;
    background: linear-gradient(#a5c0f2, #849cce);
    color: white;
    padding: 60px 0 0 0;
    position: relative;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.header-title {
    font-size: 24px;
}

.header-sub-title {
    font-size: 72px;
    width: 30%;
    font-weight: normal;
}

.header-img {
    width: 50%;
}

.header-bg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    width: 40%;
}

.tools {
    width: 100%;
    color: white;
}

.tools-card {
    text-align: center;
    padding: 50px;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.card1 {
    background-color: #4d6eaa;
}

.card2 {
    background: linear-gradient(90deg, #495772, #829acb);
}

.tools-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-model {
    width: 100%;
    background: linear-gradient(#849cce, #000000);
    padding: 60px 0;
    color: white;
    position: relative;
}

.new-model-content {
    display: flex;
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
}

.model-left,
.model-right,
.model-text {
    width: 50%;
    flex-grow: 1;

}

.model-left,
.model-right {
    padding: 50px;
}

.model-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.model-text {
    text-align: center;
    margin-top: 50px;
}

.model-left h2 {
    width: 50%;
}

.model-img {
    width: 100%;
    height: 100%;
}

.model-bg {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

.gallery {
    width: 100%;
}

.gallery-card {
    width: 20%;
    object-fit: cover;
    object-position: center;
}

.gallery-content{
    display: flex;
}

.gal-card-1 {
    order: 0;
}

.gal-card-2 {
    order: -3;
}

.gal-card-3 {
    border: 15px solid #4d6eaa;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order: -2;
}

.gal-card-4 {
    order: -4;
}

.gal-card-5 {
    order: -1;
}

.galery-title {
    font-size: 40px;
}
.faq{
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
}
.faq-content{
    position: relative; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    z-index: 12;
    justify-content: center;
    align-items: center;
}
.faq-card{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;

}
.faq-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: contrast(200%), grayscale(50%);
}
.faq-link{
    text-decoration: none;
}
.models{
    width: 100%;
    color: white;
}
.models-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.models-card{
    width: 50%;
    height: 50vh;
    position: relative;
}
.models-img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.model-2{
    display: flex;
    flex-direction: column;
}
.fxdr{
    height: 55%;
    padding-left: 20px;
    background: linear-gradient(90deg, #495772, #829acb);
    display: flex;
    flex-direction: column;
     justify-content: space-around; 
}
.wrapper{
    display: flex;
    height: 45%;
}
.fxdr h2{
    width: 70%;
    color: white;
}
.fxdr p{
    width: 50%;
    color: white;
}
.model-img1, .model-img2{
    width: 50%;
}
.model-text{
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}
.model-3{
    position: relative;
}
.poster{
    position: relative;
    background: linear-gradient(#849cce, #000000);
    width: 100%;
    padding: 60px 0;
    height: 100vh;
    color: white;
}
.poster-content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}
.poster-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 40%;
    opacity: 0.2;
}
.poster-left, .poster-right, .poster-text{
    width: 50%;
    flex-grow: 1;
}
.poster-left, .poster-right{
    padding: 50px;
}
.poster-right{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
}
.poster-text{
    text-align: center;
    margin-top:50px;
}
.poster-img{
    width: 100%;
    height: 100%;
}





